@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

div.form-control {
  @apply flex flex-col gap-2;
}
.form-control label {
  @apply uppercase;
}
.form-control input {
  @apply outline-none border-b border-gray-900 col-span-4 text-lg py-4 px-2 pb-0 bg-gray-100 rounded-t;
}
